
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;0,700;1,300;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
}

* , *::after, *::before {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body, html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

